.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.box {
    color: #666;
    box-sizing: border-box;
    padding: 11px 0;
    border-bottom: 1px solid #f1f1f1;

    .label{
        font-size: 13px !important;
    }
    .value {
        font-size: 13px !important;
        text-align: right;
        color: #666;
    }
}