<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fastweapp.fw.mapper.MenuMapper">
    <select id="selectMenuByRoleIds" resultType="java.util.Map">
        select distinct (m.menu_id) menuId,
                        pid,
                        type,
                        menu_name   menuName,
                        page,
                        sort,
                        icon,
                        url,
                        hidden
        from tb_roles_menus rm,
             tb_menu m
        where rm.menu_id = m.menu_id
          and m.deleted = 0
          and m.enabled = 1
          and rm.role_id in (select r.role_id
                             from tb_users_roles ur,
                                  tb_role r
                             where ur.role_id = r.role_id
                               and r.deleted = 0
                               and r.enabled = 1
                               and ur.user_id = #{userId})
    </select>

    <select id="selectMenu" resultType="java.util.Map" parameterType="com.fastweapp.fw.domain.dto.MenuDto">
        select distinct (m.menu_id) menuId,
                        pid,
                        type,
                        menu_name   menuName,
                        page,
                        sort,
                        icon,
                        url,
                        hidden,
                        enabled,
                        create_by   createBy,
                        create_time createTime
        from tb_menu m
        where deleted = 0
        <if test="menuName != null and menuName != ''">
            and menu_name like concat('%', #{menuName}, '%')
        </if>
        <if test="beginDate != null and beginDate != '' and endDate != null and endDate != ''">
            and create_time between concat(#{beginDate}, ' 00:00:00') and concat(#{endDate}, ' 23:59:59')
        </if>
    </select>

    <select id="selectIcon" resultType="java.util.Map">
        select id, name, value, create_time createTime
        from tb_icon
        <where>
            <if test="iconName != null and iconName != ''">
                name like concat('%', #{iconName}, '%')
            </if>
        </where>
        order by name
    </select>

    <insert id="insertMenu" parameterType="com.fastweapp.fw.domain.dto.AddMenuDto">
        insert into tb_menu (pid, type, menu_name, page,
                             sort, icon, url, hidden,
                             enabled, create_by, create_time, deleted)
        values (#{pid}, #{type}, #{menuName}, #{page},
                #{sort}, #{icon}, #{url}, #{hidden},
                #{enabled}, #{createBy}, now(), 0)
    </insert>

    <update id="updateMenuById" parameterType="com.fastweapp.fw.domain.dto.AddMenuDto">
        update tb_menu
        set pid         = #{pid},
            type        = #{type},
            menu_name   = #{menuName},
            page        = #{page},
            sort        = #{sort},
            icon        = #{icon},
            url         = #{url},
            hidden      = #{hidden},
            enabled     = #{enabled},
            update_by   = #{updateBy},
            update_time = now()
        where menu_id = #{menuId}
    </update>

    <update id="deleteMenuByids" parameterType="integer">
        update tb_menu
        set deleted = 1
        where menu_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
        </foreach>
    </update>
</mapper>