<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fastweapp.fw.mapper.MenuMapper">
    <select id="selectMenuByRoleIds" resultType="java.util.Map">
        select distinct (m.menu_id) menuId,
                        pid,
                        type,
                        menu_name   menuName,
                        page,
                        sort,
                        icon,
                        url,
                        hidden
        from tb_roles_menus rm,
             tb_menu m
        where rm.menu_id = m.menu_id
          and m.deleted = 0
          and m.enabled = 1
          and rm.role_id in (select r.role_id
                             from tb_users_roles ur,
                                  tb_role r
                             where ur.role_id = r.role_id
                               and r.deleted = 0
                               and r.enabled = 1
                               and ur.user_id = #{userId})
    </select>
</mapper>